@using HomeRealm_Project.Models
@model PropertyWithImagesModel

@{
    ViewBag.Title = "Details";
}

<link href="~/Content/CSS/Details_kh.css" rel="stylesheet" />
<main>
    <div class="container">
        <div class="house-details">
            <div class="house-images">
                <div class="main-image">
                    <img src="~/images/Properties/@Model.Ourproperty.ImageUrl" alt="Main Image">
                </div>
                <div class="additional-images">
                    <img src="~/images/Properties/@Model.Ourproperty.ImageUrl" alt="Additional Image 1">
                    <img src="~/images/Properties/@Model.Ourproperty.ImageUrl" alt="Additional Image 2">
                    <img src="~/images/Properties/@Model.Ourproperty.ImageUrl" alt="Additional Image 3">
                </div>
            </div>

            <div class="house-info">
                <h2 class="house-title">Spacious House with a Beautiful View</h2>
                <div class="house-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <span class="rating-count">(10)</span>
                </div>
                <div class="house-price">$@Model.Ourproperty.Price / night</div>
                <div class="house-location">
                    <i class="fas fa-map-marker-alt"></i>
                    <span class="location-text">@Model.Ourproperty.Country, @Model.Ourproperty.City ,@Model.Ourproperty.Address</span>
                </div>
                <div class="house-features">
                    <div class="feature-item">
                        <i class="fas fa-bed"></i>
                        <span class="feature-label">Beds:</span> 4
                    </div>
                    <div class="feature-item">
                        <i class="fas fa-bath"></i>
                        <span class="feature-label">Baths:</span> 1
                    </div>
                    <div class="feature-item">
                        <i class="fas fa-users"></i>
                        <span class="feature-label">Guests:</span> @Model.Ourproperty.Capacity
                    </div>
                </div>
                <div class="house-description">
                    <p>@Model.Ourproperty.Description</p>
                </div>
                <div class="house-amenities">
                    <h3 class="amenities-title">Amenities</h3>
                    <li class="amenities-item"><i class="fas fa-parking"></i>Free Parking on Premises</li>
                    <li class="amenities-item"><i class="fas fa-swimming-pool"></i>Private Swimming Pool</li>
                    <li class="amenities-item"><i class="fas fa-hot-tub"></i>Hot Tub</li>
                    <li class="amenities-item"><i class="fas fa-snowflake"></i>Air Conditioning</li>
                    <li class="amenities-item"><i class="fas fa-utensils"></i>Fully Equipped Kitchen</li>
                    <li class="amenities-item"><i class="fas fa-shower"></i>Outdoor Shower</li>

                </div>
                <a href="/listing/book/@Model.Ourproperty.Id"><button class="btn btn-primary btn-sm" type="button">Book Now</button></a>
            </div>
        </div>
    </div>
</main>
