
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/js/Listing_JS.js"></script>
<link href="~/Content/CSS/Listing_kh.css" rel="stylesheet" />

<section class="gallery">
    <ul style="text-align:left;">
        <li>
            <div class="listing" id="1">
                <div class="listing-image">

                    <div class="imgg">

                        <img src="~/images/pexels-pixabay-258154.jpg" alt="2">
                        <img src="~/images/e71693b8-d054-4ca1-ae6b-87fd3d7085fe.jpg">
                        <img src="~/images/628596eb-5f33-4d74-b6c3-20aff808a745.jpg">
                        <button class="prev" onclick="plusSlides(-1)">&#10094;</button>
                        <button class="next" onclick="plusSlides(1)">&#10095;</button>
                    </div>
                </div>
                <div class="listing-details">
                    <a href="homev1.html"><h2>Beautiful Apartment in the Heart of the City</h2></a>
                    <p class="listing-location">lile, France</p>
                    <div class="listing-rating">
                        <img src="~/images/Starred.svg.png" alt="stare">
                        <img src="~/images/Starred.svg.png" alt="stare">
                        <img src="~/images/Starred.svg.png" alt="stare">
                        <img src="~/images/Starred.svg.png" alt="stare">
                        <span class="listing-reviews">(379 Reviews)</span>
                    </div>
                    <p class="listing-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <div class="listing-price">$850/night</div> <div class="icon_heart">
                        <button onclick="heart()">
                            <img src="~/images/heart.svg" alt="Heart">
                        </button>
                    </div>
                </div>
        </li>


        <li>
            <div class="listing" id="2">
                <div class="listing-image">
                    <div class="imgg">
                        <img src="~/images/pexels-pixabay-258154.jpg" alt="2">
                        <img src="~/images/e71693b8-d054-4ca1-ae6b-87fd3d7085fe.jpg">
                        <img src="~/images/628596eb-5f33-4d74-b6c3-20aff808a745.jpg">
                        <button class="prev" onclick="plusSlides(-1)">&#10094;</button>
                        <button class="next" onclick="plusSlides(1)">&#10095;</button>
                    </div>
                </div>
                <div class="listing-details">
                    <h2>Our charming home is nestled in a quiet neighborhood just minutes away from the bustling city center.</h2>
                    <p class="listing-location">Paris, France</p>
                    <div class="listing-rating">
                        <img src="~/images/Starred.svg.png" alt="stare">
                        <img src="~/images/Starred.svg.png" alt="stare">
                        <img src="~/images/Starred.svg.png" alt="stare">
                        <span class="listing-reviews">(300 Reviews)</span>
                    </div>
                    <p class="listing-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <div class="listing-price">
                        $150/night
                        <div class="icon_heart">
                            <button onclick="heart()">
                                <img src="~/images/heart.svg" alt="Heart">
                            </button>
                        </div>

                    </div>
                </div>
        </li>
        <li>
            <div class="listing" id="3">
                <div class="listing-image">
                    <div class="imgg">

                        <img src="~/images/pexels-pixabay-258154.jpg" alt="2">
                        <img src="~/images/e71693b8-d054-4ca1-ae6b-87fd3d7085fe.jpg">
                        <img src="~/images/628596eb-5f33-4d74-b6c3-20aff808a745.jpg">
                        <button class="prev" onclick="plusSlides(-1)">&#10094;</button>
                        <button class="next" onclick="plusSlides(1)">&#10095;</button>
                    </div>

                </div>
                <div class="listing-details">
                    <h2>Our cozy abode is situated in a picturesque suburb with easy access to nearby parks and amenities.</h2>

                    <p class="listing-location">saidia, Maroc</p>
                    <div class="listing-rating">
                        <img src="~/images/Starred.svg.png" alt="stare">
                        <img src="~/images/Starred.svg.png" alt="stare">
                        <img src="~/images/Starred.svg.png" alt="stare">
                        <img src="~/images/Starred.svg.png" alt="stare">
                        <span class="listing-reviews">(130 Reviews)</span>
                    </div>
                    <p class="listing-description">Our charming home is nestled in a quiet neighborhood just minutes away from the bustling city center.</p>
                    <div class="listing-price">$1150/night</div>
                    <div class="icon_heart">
                        <button onclick="heart()">
                            <img src="~/images/heart.svg" alt="Heart">
                        </button>
                    </div>
                </div>
            </div>
        </li>
    </ul>

</section>
