@using HomeRealm_Project.Models
@model PropertiesViewModel
@{
    ViewBag.Title = "Home Page";


}
<div class="Home_page" style="text-align: center;">
    <h2 class="title"><span>Live there.</span> Book unique homes <br>and experience a city like a local.</h2>

    @Html.Partial("searching")
    <section class="gallery">

        <div class="prices">

            <h3>Explore Airbnb picks</h3>
            <div class="row row-cols-1 row-cols-md-3 g-4" style="text-align:center;">
                @foreach (var property in Model.Properties)
                {
                    <div class="col">
                        <div class="card h-100">
                            <img src="~/images/@property.ImageUrl" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">@property.Title</h5>
                                <p class="card-text">@property.Description</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Price : @property.Price</small>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>

        <hr>
        <hr>
        <hr>
        <hr>

        <div class="gallery-places">

            <h3>Explore the world</h3>

            <ul class="places">

                <li class="img-large">
                    <img src="https://a0.muscache.com/airbnb/static/destinations/o-Paris_480x320.jpg">
                    <h4 class="place-names">Paris</h4>
                </li>


                <li class="img-short">
                    <img src="https://a0.muscache.com/airbnb/static/destinations/o-Rome_Piazza017_480x320.jpg">
                    <h4 class="place-names">Rome</h4>
                </li>


                <li class="img-short">
                    <img src="https://a0.muscache.com/airbnb/static/destinations/o-Los_Angeles_480x320.jpg">
                    <h4 class="place-names">Los Angeles</h4>
                </li>


                <li class="img-short">
                    <img src="https://a0.muscache.com/airbnb/static/destinations/o-Lisbon_480x320.jpg">
                    <h4 class="place-names">Lisbon</h4>
                </li>


                <li class="img-short">
                    <img src="https://a0.muscache.com/airbnb/static/destinations/o-Kyoto_480x320.jpg">
                    <h4 class="place-names">Tokyo</h4>
                </li>


                <li class="img-short">
                    <img src="https://a0.muscache.com/airbnb/static/destinations/o-London_480x320.jpg">
                    <h4 class="place-names">London</h4>
                </li>


                <li class="img-large">
                    <img src="https://a0.muscache.com/airbnb/static/destinations/o-New_York_480x320.jpg">
                    <h4 class="place-names">New York</h4>
                </li>


                <li class="img-short">
                    <img src="https://a0.muscache.com/airbnb/static/destinations/o-Barcelona_480x320.jpg">
                    <h4 class="place-names">Barcelona</h4>
                </li>


                <li class="img-short">
                    <img src="https://a0.muscache.com/airbnb/static/destinations/o-Amsterdam_480x320.jpg">
                    <h4 class="place-names">Amsterdam</h4>
                </li>


                <li class="img-short">
                    <img src="https://a0.muscache.com/airbnb/static/destinations/o-Berlin_480x320.jpg">
                    <h4 class="place-names">Berlin</h4>
                </li>

            </ul>

        </div>

        <hr>


        <div class="guidebooks">

            <h3>Meet Guidebooks</h3>

            <div class="img-box">
                <img class="img-big" src="https://a2.muscache.com/ac/pictures/2a4e63c3-c981-4cbc-9c37-80a6ab3a9d24.jpg?interpolation=lanczos-none&size=x_medium&output-format=jpg&output-quality=70">
                <img class="img-small" src="https://a0.muscache.com/airbnb/guidebook/v1_san_francisco_food_scene_carousel@2x.jpg">
                <img class="img-small" src="https://a1.muscache.com/airbnb/guidebook/v1_san_francisco_drinks_nightlife_carousel@2x.jpg">

                <h4><spam>San Francisco</spam></h4>
                <p>6,237 places<p>
            </div>


            <div class="img-box">
                <img class="img-big" src="https://a2.muscache.com/ac/pictures/cf3b9363-34e4-4532-b051-6a7663410854.jpg?interpolation=lanczos-none&size=x_medium&output-format=jpg&output-quality=70">
                <img class="img-small" src="https://a1.muscache.com/airbnb/guidebook/v1_new_york_food_scene_carousel@2x.jpg">
                <img class="img-small" src="https://a0.muscache.com/airbnb/guidebook/v1_new_york_drinks_nightlife_carousel@2x.jpg">

                <h4>New York</h4>
                <p>23,725</p>
            </div>


            <div class="img-box">
                <img class="img-big" src="https://a2.muscache.com/ac/pictures/b62aa572-cf0b-4e4a-b886-a039a0250cf3.jpg?interpolation=lanczos-none&size=x_medium&output-format=jpg&output-quality=70">
                <img class="img-small" src="https://a1.muscache.com/airbnb/guidebook/v1_london_food_scene_carousel@2x.jpg">
                <img class="img-small" src="https://a2.muscache.com/airbnb/guidebook/v1_london_drinks_nightlife_carousel@2x.jpg">

                <h4> London</h4>
                <p>18,795 places</p>
            </div>


        </div>

    </section>
</div>