<section class"search-row">

    <input class="search-input" type="text" placeholder="Where to?"></input>


    <div class="checks-input">

        <input class="check-in" type="text" placeholder="Check In"></input>

        <svg class="right-arrow" xmlns="http://www.w3.org/2000/svg" fill="#000000" height="24" viewBox="0 0 24 24" width="24">
            <path d="M0 0h24v24H0z" fill="none" />
            <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z" />
        </svg>

        <input class="check-out" type="text" placeholder="Check Out"></input>

    </div>


    <select class="guests">
        <option>1 Guest</option>
        <option>2 Guests</option>
        <option>3 Guests</option>
        <option>4 Guests</option>
        <option>5 Guests</option>
        <option>6 Guests</option>
        <option>7 Guests</option>
        <option>8 Guests</option>
        <option>9 Guests</option>
        <option>10 Guests</option>
        <option>11 Guests</option>
        <option>12 Guests</option>
        <option>13 Guests</option>
        <option>14 Guests</option>
        <option>15 Guests</option>
        <option>16+ Guests</option>
    </select>

    <button class="search-btn"> Search </button>

</section>